body {
    margin: auto;
    background-color: rgb(73, 23, 40);
    color: white;
    
}

h1 {
    text-align: center;
    margin-top: 40px;
    font-family: 'Quicksand', sans-serif;
}

#introText {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    font-size: larger;
}

form {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

#byIngredient {
    margin-left: 70px;
}

.searchByRadio {
    color: white;
}

.fieldsetContents {
    margin-bottom: 30px;
    margin: 0;
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}

#searchWord:focus, #searchWord:hover, #searchWord:visited, #searchWord {
    background: none;
    background-color: transparent;
    color: white;
    border-bottom: 1px solid white;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    margin-top: 20px;
    width: 250px;
    font-family: 'Montserrat', sans-serif;
}

#searchButton {
    max-width: 100px;
    font-size: 25px;
    background: transparent;
    color: white;
    border-bottom: 1px white solid;
    border-radius: 7px;
    padding: 10px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
}

#or {
    margin-top: 100px;
    font-size: 30px;
    color: white;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 23px;
}

#randomContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 400px;
}

.randomButtons {
    background: transparent;
    color: white;
    width: 140px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

#randomAlc {
    margin-right: 15px;
}

#resultsH2 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin-bottom: 100px;
}

#resultsDisplay {
    height: 100%;
    background-color: rgb(73, 23, 40);
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    
}

#resultslist {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#resultslist > .multiDrinkResult {
    max-width: 250px;
}

ul {
    list-style: none;
    margin-top: 50px;
    padding-left: 0;
}

li {
    text-align: center;
    margin-bottom: 80px;
}

.resultImage {
    height: 250px;
    width: 250px;
    border: 2px white solid;
}

.drinkResultsName {
    font-size: 20px;
}

#ytResults {
    display: flex;
    flex-direction: column;
}

.ytResultItems {
    margin-bottom: 50px;
    width: 320px;
    margin-right: auto;
    margin-left: auto;
}

a {
    color: white;
    text-decoration: none;
}

h2 {
    margin-bottom: 50px;

}

.recipe {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#errormsg {
    width: 250px;
    background-color: white;
    color: black;
    font-size: 30px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

@media only screen and (min-width : 850px) {
    .resultsContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #cocktailInfo {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    #resultLeft {
        margin-right: 150px;
    }

    h2 {
        margin-top: 40px;
    }

    #youtubeResult {
        margin-top: 100px;
    }

    #ytResults {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}
